@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body * {
  box-sizing: border-box;
}

.main-logo {
  width: 100vw;
  height: auto;
  background: #f8eae7;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo-uda {
  width: 50vw;
  padding: 10px 1px;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background-color: #86a69f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.left-login-image {
  width: 35vw;
}

.left-login > h1 {
  font-size: 3vw;
  color: rgb(29, 29, 29);
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px;
  background-color: #f7cdc6;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #556e69;
}

.card-login > h1 {
  color: #ab4467;
  font-weight: 800;
  margin: 0;
}

.text-field {
  width: 100%;
  display: flex;
  /* aligh itens = flex start  */
  /* justify content = center =  */
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.text-field > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #ffffff;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #f7ede4;
  outline: none;
  box-sizing: border-box;
}

.text-field > label {
  margin-bottom: 10px;
}

.text-field > input::placeholder {
  color: #d4a19988;
}

.btn-outline-primary {
  border-color: #ab4467;
  color: #ab4467;
}
.btn-outline-primary:hover {
  background: #ab4467;
  border-color: #ab4467;
  color: #ffffff;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
    padding: 0px;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .right-login {
    width: 100%;
    height: auto;
  }
  .left-login-image {
    width: 50vw;
  }
  .card-login {
    width: 90%;
  }
}
