@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
}

.logo-uda {
  width: 20vw;
  padding: 10px 1px;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #86a69f, #7ccebc);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.left-login-image {
  width: 35vw;
}

.left-login > h1 {
  font-size: 3vw;
  color: rgb(29, 29, 29);
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px;
  background-color: #f7cdc6;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #556e69;
}

.card-login > h1 {
  color: #ab4467;
  font-weight: 800;
  margin: 0;
}

.text-field {
  width: 100%;
  display: flex;
  /* aligh itens = flex start  */
  /* justify content = center =  */
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.text-field > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #ffffff;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #f7ede4;
  outline: none;
  box-sizing: border-box;
}

.text-field > label {
  margin-bottom: 10px;
}

.text-field > input::placeholder {
  color: #d4a19988;
}

.btn-outline-primary {
  border-color: #ab4467;
  color: #ab4467;
}
.btn-outline-primary:hover {
  background: #ab4467;
  border-color: #ab4467;
  color: #ffffff;
  display: flex;
}

.btn1 {
  display: inline-block;
  background: linear-gradient(267.72deg, #ff8011 100%, #ff9c46d7 5%);
  border-radius: 3px;
  padding: 12px 32px;
  margin-top: 15px;
  text-transform: uppercase;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  position: relative;
}

.btn1:hover {
  transform: scale(1.05) skewX(-10deg);
  color: #e2e8ce;
}

a {
  text-decoration: none;
  color: #e2e8ce;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn1::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px;
  right: -2px;
  border-radius: 3px;
  opacity: 0;
  width: 20%;
  height: 70%;
  z-index: -1;
  border-bottom: 3px solid #acbfa4;
  border-right: 3px solid #acbfa4;
  transition: 0.7s ease;
}
.btn1::after {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  left: -2px;
  border-radius: 3px;
  opacity: 0;
  width: 20%;
  height: 70%;
  z-index: -1;
  border-top: 3px solid #acbfa4;
  border-left: 3px solid #acbfa4;
  transition: 0.7s ease;
}
.btn1:hover::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px;
  right: -2px;
  border-radius: 3px;
  opacity: 1;
  width: 20%;
  height: 70%;
  z-index: -1;
  border-bottom: 3px solid #ab4467;
  border-right: 3px solid #ab4467;
  transition: 0.7s ease;
}
.btn1:hover::after {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  left: -2px;
  border-radius: 3px;
  opacity: 1;
  width: 20%;
  height: 70%;
  z-index: -1;
  border-top: 3px solid #ab4467;
  border-left: 3px solid #ab4467;
  transition: 0.7s ease;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
    padding: 0px;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .right-login {
    width: 100%;
    height: auto;
  }
  .left-login-image {
    width: 50vw;
  }
  .card-login {
    width: 90%;
  }
}
